.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*notes.md
dscience2-assignment-1/code/dscience2-assignment1_cache/
dscience2-assignment-1/code/dscience2-assignment1_files/
dscience2-assignment-1/data/KaggleV2-May-2016.csv.zip
